:root {

    /* Colors: */
    --negro: #000000;
    --blanco: #FFFFFF;
    --gris: #707070;
    --titulos-cliente: #82DFB5;
    --titulos-especialista: #54AFBD;
    --azul-especialista: #80A4E0;
    --azul-oscuro: #506270;
    --turqueza: #80E0DD;
    --turquezaHover: #70c4c1;
    --turquezaActive: #528f8d;
    --amarillo: #FAD000;
    --amarilloHover: #e0bb00;
    --amarilloActive: #C6A400;
    --naranja: #EF7F65;
    --naranjaHover:#D67761;
    --naranjaActive: #BB6956;
    --lima: #B1EA8C;

    }
    footer{
        font-family: sans-serif;
        background: #4bbd71;
    }
    .pie{
        display: flex;
        margin-bottom: 1%;

    }
    .copy-right{
        padding: 3px;
        justify-content: space-between;
        display: flex;
        margin: auto;
        font-family: sans-serif;
        background: #EFF8FF;
    }

    .rowFooter{
        margin-top: 5%;
        display: flex;
    }
    .rowFooter img{
        width: 36px;
        height: 36px;
    }

    .rowFooter label{
        margin-top: 3%;
        margin-left: 1%;
    }
    .col-sm-3 .rowFooter label{
        margin-top: 2%;
        margin-left: 1%;
    }
